<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پایان</title>
    
    <!-- فونت وزیر از CDN -->
    <link href="https://cdn.jsdelivr.net/npm/fontiran@0.1.7/fonts/Vazir/Vazir.css" rel="stylesheet">

    <!-- لینک به CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!--<h2>پایان</h2>-->
        <p>ممنون از توجه شما</p>
    </div>

    <!-- لینک به فایل جاوا اسکریپت -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
